<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" type='button' data-dismiss='modal' aria-hidden='true'></button>
            <h4 class="modal-title" id="ajaxModal"> 菜单编辑 </h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <form action="" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">父级菜单</label>
                            <div class="controls" id="zTree">
                                <input type="text" name="pidName" class="m-wrap" value="{{menu.pidName}}"/>
                                <ul id="treeDemo" class="ztree"></ul>
                            </div>

                        </div>
                        <div class="control-group">
                            <label class="control-label">编码</label>
                            <div class="controls">
                                <input type="text" name="code" class="m-wrap" value="{{menu.code}}"/>
                                <span class="help-inline"> <i class="icon-exclamation-sign text-info"></i> 编码必须唯一</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">名称</label>
                            <div class="controls">
                                <input type="text" name="menu_name" class="m-wrap"  value="{{menu.name}}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">地址</label>
                            <div class="controls">
                                <input type="text" name="url" class="m-wrap"  value="{{menu.url}}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">排序</label>
                            <div class="controls">
                                <input type="text" name="sort" class="m-wrap" value="{{menu.sort}}"/>
                            </div>
                        </div>
                        <div class="control-group" style="position: relative;">
                            <label class="control-label">图标</label>
                            <div class="controls">
                                <input type="text" name="icon" class="m-wrap" readonly  value="{{menu.icon}}"/>
                            </div>
                            <ul class="social-icons icon" style="width: 400px;position: absolute; left: 50%;margin-left: -200px;top: 40px;display: none;z-index: 100;background-color: #fff ">
                                <li>
                                    <a class="amazon"></a>
                                </li>
                                <li>
                                    <a class="amazon"></a>
                                </li>
                                <li>
                                    <a class="amazon"></a>
                                </li>
                                <li>
                                    <a class="amazon"></a>
                                </li>
                                <li>
                                    <a class="amazon"></a>
                                </li>
                                <li>
                                    <a class="amazon"></a>
                                </li>
                                <li>
                                    <a class="amazon"></a>
                                </li>
                                <li>
                                    <a class="amazon"></a>
                                </li>
                                <li>
                                    <a class="amazon"></a>
                                </li>
                                <li>
                                    <a class="amazon"></a>
                                </li>
                                <li>
                                    <a class="amazon"></a>
                                </li>
                                <li>
                                    <a class="amazon"></a>
                                </li>

                            </ul>
                        </div>
                        <div class="control-group">
                            <label class="control-label">是否菜单</label>
                            <div class="controls">
                                <div class="switch" data-on="primary" data-off="info">
                                    {% if menu.ismenu == 0 %}
                                        <input type="checkbox" checked class="toggle" name="ismenu"/>
                                    {% else %}
                                        <input type="checkbox" class="toggle" name="ismenu"/>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="compile_close" data-dismiss='modal' style="display: none;"></button>
            <button class="btn btn-default" type='button'  onclick="compile_save()">
                <span class="glyphicon glyphicon-remove">保存</span>
            </button>
            <button class="btn btn-default" type='button' data-dismiss='modal'>
                <span class="glyphicon glyphicon-remove">取消</span>
            </button>
        </div>
    </div>
</div>
<script>
    var setting = {
        view: {
            showIcon: showIconForTree
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback:{
            onClick:function(event,treeId,treeNode){
                console.log(event);
                console.log(treeId);
                console.log(treeNode);
            }
        }
    };

    var zNodes =[
        { id:1, pId:0, name:"pNode 1", open:true},
        { id:11, pId:1, name:"pNode 11"},
        { id:111, pId:11, name:"leaf node 111"},
        { id:112, pId:11, name:"leaf node 112"},
        { id:113, pId:11, name:"leaf node 113"},
        { id:114, pId:11, name:"leaf node 114"},
        { id:12, pId:1, name:"pNode 12"},
        { id:121, pId:12, name:"leaf node 121"},
        { id:122, pId:12, name:"leaf node 122"},
        { id:123, pId:12, name:"leaf node 123"},
        { id:124, pId:12, name:"leaf node 124"},
        { id:13, pId:1, name:"pNode 13 - no child", isParent:true},
        { id:2, pId:0, name:"pNode 2"},
        { id:21, pId:2, name:"pNode 21", open:true},
        { id:211, pId:21, name:"leaf node 211"},
        { id:212, pId:21, name:"leaf node 212"},
        { id:213, pId:21, name:"leaf node 213"},
        { id:214, pId:21, name:"leaf node 214"},
        { id:22, pId:2, name:"pNode 22"},
        { id:221, pId:22, name:"leaf node 221"},
        { id:222, pId:22, name:"leaf node 222"},
        { id:223, pId:22, name:"leaf node 223"},
        { id:224, pId:22, name:"leaf node 224"},
        { id:23, pId:2, name:"pNode 23"},
        { id:231, pId:23, name:"leaf node 231"},
        { id:232, pId:23, name:"leaf node 232"},
        { id:233, pId:23, name:"leaf node 233"},
        { id:234, pId:23, name:"leaf node 234"},
        { id:3, pId:0, name:"pNode 3 - no child", isParent:true}
    ];

    function showIconForTree(treeId, treeNode) {
        return !treeNode.isParent;
    };

    $(document).ready(function(){
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    });
</script>