<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
        <div class="container-fluid">
            <!-- BEGIN LOGO -->
            <a class="brand" href="/">
            <img src="{{'sys_sys_logo'|get_dict_code}}" alt="logo" />
            </a>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
            <img src="/static/common/img/menu-toggler.png" alt="" />
            </a>          
            <!-- END RESPONSIVE MENU TOGGLER -->            
            <!-- BEGIN TOP NAVIGATION MENU -->              
            <ul class="nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->   
                <li class="dropdown" id="header_notification_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="fa fa-database" style="display: flex;align-items: center;">
                            {% if controller.environment=='mysqlDev' %}
                            <span style="font-size:14px;" id="environment"> &nbsp;&nbsp;研发环境(10.139.13.128)</span>
                            {% elseif controller.environment=='mysql1' %}
                            <span style="font-size:14px;" id="environment"> &nbsp;&nbsp;测试一环境(10.253.51.23)</span>
                            {% elseif controller.environment=='mysql2' %}
                            <span style="font-size:14px;" id="environment"> &nbsp;&nbsp;测试二环境(10.253.91.125)</span>
                            {% endif %}
                            <i class="icon-angle-down"></i>
                        </i>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <!-- <li>
                            <p>切换测试环境(数据库)</p>
                        </li> -->
                        <li><a href="/admin/user/change" data-value='mysqlDev' data-toggle='env'><i class="icon-th"></i>研发环境(10.139.13.128)</a></li>
                        <li><a href="/admin/user/change" data-value='mysql1'  data-toggle='env'><i class="icon-th"></i>测试一环境(10.253.51.23)</a></li>
                        <li><a href="/admin/user/change" data-value='mysql2'  data-toggle='env'><i class="icon-th"></i>测试二环境(10.253.91.125)</a></li>
                        <!-- <li class="external">
                            <a href="/"><i class="m-icon-swapright"></i></a>
                        </li> -->
                    </ul>
                </li> 
                <!-- END NOTIFICATION DROPDOWN -->
                
                <!-- BEGIN INBOX DROPDOWN -->
                <li class="dropdown" id="header_inbox_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-envelope"></i>
                    <span class="badge">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <li>
                            <p>你有5条未读消息</p>
                        </li>
                    </ul>
                </li>
                <!-- END INBOX DROPDOWN -->
                <!-- BEGIN TODO DROPDOWN -->
                <li class="dropdown" id="header_task_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-tasks"></i>
                    <span class="badge">5</span>
                    </a>
                    <ul class="dropdown-menu extended tasks">
                        <li>
                            <p>你有5条工作任务待开展</p>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller"  style="height:230px">
                                <li>
                                    <a href="#">
                                    <span class="task">
                                    <span class="desc">New release v1.2</span>
                                    <span class="percent">30%</span>
                                    </span>
                                    <span class="progress progress-success ">
                                    <span style="width: 30%;" class="bar"></span>
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    <span class="task">
                                    <span class="desc">Application deployment</span>
                                    <span class="percent">65%</span>
                                    </span>
                                    <span class="progress progress-danger progress-striped active">
                                    <span style="width: 65%;" class="bar"></span>
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    <span class="task">
                                    <span class="desc">Mobile app release</span>
                                    <span class="percent">98%</span>
                                    </span>
                                    <span class="progress progress-success">
                                    <span style="width: 98%;" class="bar"></span>
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                    <span class="task">
                                    <span class="desc">Database migration</span>
                                    <span class="percent">10%</span>
                                    </span>
                                    <span class="progress progress-warning progress-striped">
                                    <span style="width: 10%;" class="bar"></span>
                                    </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="external">
                            <a href="#">查看全部<i class="m-icon-swapright"></i></a>
                        </li>
                    </ul>
                </li>
                <!-- END TODO DROPDOWN --> 
                             
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" src="/static/common/img/user_man_32.png" style="background-color: #fff;border-radius: 50% !important;vertical-align: middle;"/>
                        <span class="username">{{controller.user.username}}</span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="extra_profile.html"><i class="icon-user"></i> 个人信息</a></li>
                        <li><a href="page_calendar.html"><i class="icon-calendar"></i> 我的行程</a></li>
                        <li><a href="inbox.html"><i class="icon-envelope"></i> 个人消息<span class="badge badge-important">3</span></a></li>
                        <li><a href="#"><i class="icon-tasks"></i> 待处理<span class="badge badge-success">8</span></a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i> 全屏查看</a></li>
                        <li><a href="/admin/user/lock"><i class="icon-lock"></i> 锁屏</a></li>
                        <li><a href="/admin/user/logout"><i class="icon-key"></i> 退出</a></li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU --> 
        </div>
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>
