{% extends "../base/main.html" %} {% block style %}
<link rel="stylesheet" href="/static/common/css/bootstrap-table.css" /> {% endblock %} {% block content %}

<div id="dashboard">
    <section class="vbox">
        <section class="scrollable wrapper">
            <header class="bg-light dk">
                <div id="toolbar">
                    <a class="btn btn-default" href="/admin/usergroup/add" style="margin-right: 15px;" data-toggle="myModal">新增</a>
                    <input type="hidden" name="pid" value="{{pid}}" />
                </div>
            </header>
            <div id="index">
                <style>
                    .table th,
                    .table td {
                        text-align: center;
                    }
                </style>
                <div class="">
                    <table id="usergroupTable" data-toggle='table' data-url='/admin/usergroup/loadusergroup' data-method='post' data-toolbar='#toolbar' data-striped='true' data-show-refresh='true' data-pagination='true' data-side-pagination='server' data-click-to-select='true'
                        data-query-params='queryParams' data-search="true" data-show-toggle="true">
                        <thead>
                            <tr>
                                <th data-field='code'>组编码</th>
                                <th data-field='name'>组名称</th>
                                <th data-field='status' data-formatter="statusFormat">是否启用</th>
                                <th data-formatter="operation">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
    </section>
</div>
<div class="modal fade" id="myModal"></div>
<!-- END PAGE CONTAINER-->
{% endblock %} {% block js %}
<script type="text/javascript" src="/static/common/scripts/bootstrap-table.js"></script>
<script type="text/javascript" src="/static/common/scripts/bootstrap-table-zh-CN.js"></script>
<script>
    // 表格过滤条件
    function queryParams(params) {
        var temp = {
            "limit": params.limit,
            "offset": params.offset,
            "sort": params.sort,
            "pid": "{{pid}}",
            "param": params.search
        };
        return temp;
    };

    function statusFormat(value, row, index) {
        if (value == 0) {
            return "<a href='/admin/usergroup/status' data-value=" + value + " data-id=" + row.id + " data-toggle='status'><i class='fa fa-times text-error'></i></a>"
        } else if (value == 1) {
            return "<a href='/admin/usergroup/status' data-value=" + value + " data-id=" + row.id + " data-toggle='status'><i class='fa fa-check text-success'></i></a>"
        }
    }

    function operation(value, row, index) {
        var s = "<a class='btn label-success mini' href='/admin/usergroup/edit?id=" + row.id + "' data-toggle='myModal'><i class='icon-pencil'></i>&nbsp;编辑</a>&nbsp;&nbsp;";
        var b = "<a class='btn label-warning mini' data-href='/admin/usergroup/del' data-toggle='del' data-confirm='yes' data-id='" + row.id + "'><i class='icon-remove'></i>&nbsp;删除</a>";
        return s + b;
    }

    function add_save() {
        if ($("input[name='code']").val() == "") {
            toastr.warning("编码不能为空");
            return false;
        }
        if ($("input[name='menu_name']").val() == "") {
            toastr.warning("名称不能为空");
            return false;
        }
        var num = $("input[name='ismenu']").prop("checked") ? 0 : 1;
        $.ajax({
            type: "post",
            dataType: "json",
            url: "/admin/usergroup/addusergroup",
            data: $("#add_user_group_form").serialize(),
            success: function(res) {
                if (res.status == 1) {
                    $("#add_close").click();
                    $('#usergroupTable').bootstrapTable('refresh');
                } else {
                    toastr.warning(res.msg);
                }
            }
        })
    }
</script>
{% endblock %}