{% extends "../base/main.html" %}
{% block style %}{% endblock %}
{% block content %}
<div id="dashboard">
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row-fluid">
        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="icon-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{product.business}}
                    </div>
                    <div class="desc">                           
                        已上线产品
                    </div>
                </div>
                <a class="more" href="/admin/product/info?status=8">
                查看更多 <i class="m-icon-swapright m-icon-white"></i>
                </a>                 
            </div>
        </div>
        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="icon-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">{{product.config}}</div>
                    <div class="desc">正在配置商品</div>
                </div>
                <a class="more" href="/admin/product/info?status=1">
                查看更多 <i class="m-icon-swapright m-icon-white"></i>
                </a>                 
            </div>
        </div>
        <div class="span3 responsive" data-tablet="span6  fix-offset" data-desktop="span3">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="icon-globe"></i>
                </div>
                <div class="details">
                    <div class="number">{{product.innerTest}}</div>
                    <div class="desc">内测阶段商品</div>
                </div>
                <a class="more" href="/admin/product/info?status=3">
                查看更多 <i class="m-icon-swapright m-icon-white"></i>
                </a>                 
            </div>
        </div>
        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
            <div class="dashboard-stat yellow">
                <div class="visual">
                    <i class="icon-bar-chart"></i>
                </div>
                <div class="details">
                    <div class="number">{{product.publicTest}}</div>
                    <div class="desc">公测阶段商品</div>
                </div>
                <a class="more" href="/admin/product/info?status=4">
                查看更多 <i class="m-icon-swapright m-icon-white"></i>
                </a>                 
            </div>
        </div>
    </div>
    <!-- END DASHBOARD STATS -->
    <div class="clearfix"></div>
    
</div>
<!-- END PAGE CONTAINER-->
{% endblock %}
{% block js %}{% endblock %}